## Chapter 6 - Exercise 1: Bank
- Sử dụng tập dữ liệu bank.csv chứa thông tin liên quan đến các chiến dịch tiếp thị trực tiếp -
the direct marketing campaigns (dựa trên các cuộc gọi điện thoại) của một tổ chức ngân hàng
Bồ Đào Nha. Thông thường, cần có nhiều contact cho cùng một khách hàng, để truy cập xem
liệu có sản phẩm (tiền gửi ngân hàng có kỳ hạn - bank term deposit) sẽ được đăng ký (yes)
hay không (no). Tập dữ liệu chứa một số thông tin khách hàng (như age, job...) và thông tin
liên quan đến chiến dịch (chẳng hạn như contact hoặc communication type, day, month và
duration của contact...).
- Đối với chiến dịch tiếp thị tiếp theo, công ty muốn sử dụng dữ liệu này và chỉ liên hệ với
những khách hàng tiềm năng sẽ đăng ký tiền gửi có kỳ hạn, do đó giảm bớt nỗ lực cần thiết
để liên hệ với những khách hàng không quan tâm. Để làm được điều này, cần tạo một mô
hình có thể dự đoán liệu khách hàng có đăng ký tiền gửi có kỳ hạn hay không (y).

### Yêu cầu:
- Đọc dữ liệu, tìm hiểu sơ bộ về dữ liệu. Chuẩn hóa dữ liệu nếu cần
- Tạo X_train, X_test, y_train, y_test từ dữ liệu chuẩn hóa với tỷ lệ dữ liệu test là 0.3
- Áp dụng Decision Tree, Tìm kết quả.
- Kiểm tra độ chính xác
- Trực quan hóa Decision Tree
- Đánh giá mô hình.
- Ghi mô hình nếu mô hình phù hợp

In [3]:
import warnings

warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import StandardScaler
from collections import Counter
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

%load_ext nb_black

In [7]:
df = pd.read_csv("data/bank.csv", sep=";")
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4329,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4330,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4331,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4332,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4333,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4334 entries, 0 to 4333
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4334 non-null   int64
 1   job        4334 non-null   object
 2   marital    4334 non-null   object
 3   education  4334 non-null   object
 4   default    4334 non-null   object
 5   balance    4334 non-null   int64
 6   housing    4334 non-null   object
 7   loan       4334 non-null   object
 8   contact    4334 non-null   object
 9   day        4334 non-null   int64
 10  month      4334 non-null   object
 11  duration   4334 non-null   int64
 12  campaign   4334 non-null   int64
 13  pdays      4334 non-null   int64
 14  previous   4334 non-null   int64
 15  poutcome   4334 non-null   object
 16  y          4334 non-null   object
dtypes: int64(7), object(10)
memory usage: 575.7+ KB

In [9]:
"""
=> dataset ko có giá trị null
"""

'\n=> dataset ko có giá trị null\n'

In [10]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,4334.000000,4334.000000,4334.000000,4334.000000,4334.000000,4334.000000,4334.000000
mean,40.991924,1410.637517,15.913936,264.544301,2.806876,39.670974,0.544070
std,10.505378,3010.612091,8.216673,260.642141,3.129682,99.934062,1.702219
min,19.000000,-3313.000000,1.000000,4.000000,1.000000,-1.000000,0.000000
25%,33.000000,67.000000,9.000000,104.000000,1.000000,-1.000000,0.000000
50%,39.000000,440.000000,16.000000,186.000000,2.000000,-1.000000,0.000000
75%,48.000000,1464.000000,21.000000,329.000000,3.000000,-1.000000,0.000000
max,87.000000,71188.000000,31.000000,3025.000000,50.000000,871.000000,25.000000

In [11]:
"""
Sử dụng decision tree 
=> preditor variables: các biến dc chuẩn hóa sang kiểu số
target: có thể ở dạng label hay kiểu số
"""

'\nSử dụng decision tree \n=> preditor variables: các biến dc chuẩn hóa sang kiểu số\ntarget: có thể ở dạng label hay kiểu số\n'

# chuẩn hóa dữ liệu (predictors)

In [30]:
df_new = df.copy()
df_new.replace(
    [
        "oct",
        "may",
        "apr",
        "jun",
        "feb",
        "aug",
        "jan",
        "jul",
        "nov",
        "sep",
        "mar",
        "dec",
    ],
    list(range(1, 12 + 1)),
    inplace=True,
)

In [33]:
obj_lst = [i for i in df.columns if df.dtypes[i] == "object"]
obj_lst

['job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'poutcome',
 'y']

In [37]:
X = df.drop(["y"], axis=1)
y = df["y"]

In [34]:
"""
'job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'poutcome',
 là các features có kiểu obj
 
 => chuyển sang numeric
"""

"\n'job',\n 'marital',\n 'education',\n 'default',\n 'housing',\n 'loan',\n 'contact',\n 'month',\n 'poutcome',\n là các features có kiểu obj\n \n => chuyển sang numeric\n"

In [43]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()
ohe = ohe.fit(
    X[
        [
            "job",
            "marital",
            "education",
            "default",
            "housing",
            "loan",
            "contact",
            "poutcome",
        ]
    ]
)
ohe

OneHotEncoder()

In [44]:
X_ohe = ohe.transform(
    X[
        [
            "job",
            "marital",
            "education",
            "default",
            "housing",
            "loan",
            "contact",
            "poutcome",
        ]
    ]
)
X_ohe

<4334x31 sparse matrix of type '<class 'numpy.float64'>'
	with 34672 stored elements in Compressed Sparse Row format>

In [41]:
X_ohe_new = X_ohe.toarray()
X_ohe_new

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 1., 0., 0.],
       [0., 0., 1., ..., 1., 0., 0.]])

In [53]:
ohe_cols = ohe.get_feature_names(
    ["job", "marital", "education", "default", "housing", "loan", "contact", "poutcome"]
)

In [64]:
X_ohe = pd.DataFrame(X_ohe_new, columns=ohe_cols)
X_ohe.head()

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,housing_yes,loan_no,loan_yes,contact_cellular,contact_telephone,contact_unknown,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [58]:
# dùng hàm cho nhanh nè
def OneHotEncoder_Dataset(dataset):
    ohe = OneHotEncoder().fit(dataset)
    X_ohe_new = ohe.transform(dataset).toarray()
    ohe_cols = ohe.get_feature_names(dataset.columns)
    return pd.DataFrame(X_ohe_new, columns=ohe_cols)

In [60]:
a = OneHotEncoder_Dataset(
    df[
        [
            "job",
            "marital",
            "education",
            "default",
            "housing",
            "loan",
            "contact",
            "poutcome",
        ]
    ]
)

In [65]:
a.equals(X_ohe)

True