In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = sns.load_dataset('iris')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [3]:
X = df[['petal_length']]
y = df['petal_width']

In [4]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

In [8]:
model = DecisionTreeRegressor()

In [9]:
model.fit(X_train, y_train)

DecisionTreeRegressor()

In [10]:
yhat_test = model.predict(X_test)

In [11]:
# R-Score
print('Train R^2:', model.score(X_train, y_train))
print('Test R^2:', model.score(X_test, y_test))

Train R^2: 0.9580391371645579
Test R^2: 0.9191503224824429

In [13]:
# RMSE
print('Test RMSE:', mean_squared_error(y_test, yhat_test, squared=False))

Test RMSE: 0.2266992427841573

In [14]:
#RMSE khá thấp

In [15]:
df_test = pd.DataFrame({
    'Actual': y_test,
    'Prediction': yhat_test
})
df_test.head(10)

     Actual  Prediction
73      1.2    1.433333
18      0.3    0.366667
118     2.3    2.100000
78      1.5    1.560000
76      1.4    1.800000
31      0.4    0.230000
64      1.3    1.000000
141     2.3    1.850000
68      1.5    1.560000
82      1.2    1.400000

In [16]:
X_new = [[4.4], [5.1]]
y_new = model.predict(X_new)
y_new

array([1.325, 1.85 ])