In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({
    'color': ['Red', 'Red', 'Red', 'Yellow', 'Yellow', 'Yellow', 'Yellow', 'Yellow', 'Red', 'Red'],
    'type': ['Sports', 'Sports', 'Sports', 'Sports', 'Sports', 'SUV', 'SUV', 'SUV', 'SUV', 'Sports'],
    'origin': ['Domestic', 'Domestic', 'Domestic', 'Domestic', 'Imported', 'Imported', 'Imported', 'Domestic', 'Imported', 'Imported'],
    'stolen': ['Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes']    
})
df

    color    type    origin stolen
0     Red  Sports  Domestic    Yes
1     Red  Sports  Domestic     No
2     Red  Sports  Domestic    Yes
3  Yellow  Sports  Domestic     No
4  Yellow  Sports  Imported    Yes
5  Yellow     SUV  Imported     No
6  Yellow     SUV  Imported    Yes
7  Yellow     SUV  Domestic     No
8     Red     SUV  Imported     No
9     Red  Sports  Imported    Yes

In [4]:
X = df.drop(columns = ['stolen'])
y = df['stolen']

In [5]:
X.head()

    color    type    origin
0     Red  Sports  Domestic
1     Red  Sports  Domestic
2     Red  Sports  Domestic
3  Yellow  Sports  Domestic
4  Yellow  Sports  Imported

In [6]:
#Biến đổi các thuộc tính phân loại dạng nhãn => số
X_now = pd.get_dummies(data=X)
X_now

,color_Red,color_Yellow,type_SUV,type_Sports,origin_Domestic,origin_Imported
0,1,0,0,1,1,0
1,1,0,0,1,1,0
2,1,0,0,1,1,0
3,0,1,0,1,1,0
4,0,1,0,1,0,1
5,0,1,1,0,0,1
6,0,1,1,0,0,1
7,0,1,1,0,1,0
8,1,0,1,0,0,1
9,1,0,0,1,0,1

In [7]:
y.head()

0    Yes
1     No
2    Yes
3     No
4    Yes
Name: stolen, dtype: object

In [11]:
y_now = pd.get_dummies(data=y, drop_first=True, prefix='stolen')
y_now.head()

   stolen_Yes
0           1
1           0
2           1
3           0
4           1

## sử dụng BernoulliNB

In [12]:
from sklearn.naive_bayes import BernoulliNB

In [13]:
#khởi tạo model
model = BernoulliNB()

In [14]:
#huấn luyện model
model.fit(X_now, y_now)

c:\program files\python36\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

BernoulliNB()

In [15]:
# Red, SUV, Domestic --> stolen?
#color_Red, color_Yellow, type_SUV, type_Sports, origin_Domestic, origin_Imported
X_new = [[1, 0, 1, 0, 1, 0]]

In [16]:
y_new = model.predict(X_new)
y_new

array([0], dtype=uint8)

In [ ]:
# --> Red, SUV, Domestic --> stolen: NO

## Sử dụng GaussianNB

In [17]:
from sklearn.naive_bayes import GaussianNB

In [18]:
# khởi tạo model
model2 = GaussianNB()

In [19]:
model2.fit(X_now, y_now)

c:\program files\python36\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

GaussianNB()

In [20]:
y_new = model2.predict(X_new)
y_new

array([0], dtype=uint8)

In [ ]:
# --> Red, SUV, Domestic --> stolen: NO